@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Global Styles */

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 10px;
}

.section-m1 {
    margin: 40px 0;
}

button .normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}


body {
    width: 100%;
    background-color: #b7e2c6;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #b7e2c6;
    padding: 2px 60px;
    box-shadow: 0 5px 15px rgba(10, 10, 10, 0.168) inset;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#navbar li {
    list-style: none;
    padding: 0 15px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #022912;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}


#navbar .main-cart span{
    font-size: 12px;
display:flex;
width: 20px;
height: 20px;
background-color: rgb(1, 103, 11);
justify-content: center;
align-items: center;
color: white;
border-radius: 50%;
position: absolute;
top: 50%;
right: -3px;
}




/* slider section  */

.slider {
    height: 85vh;
    width: 98.4vw;
    overflow: hidden;
    position: relative;
    margin-left: -1px;
    margin-right: auto;
}

.slider .list .item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    margin-left: auto;
    object-fit: cover;
}

.slider .list .item .content {
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-60%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
    margin-left: 30px;
}


.slider .list .item .content .title,
.slider .list .item .content .type {
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
    font-family: "Georgia", Times, serif;
    text-shadow: 5px 3px 8px rgb(1, 4, 1);
}

.slider .list .item .content .title {
    color: #e2f6db;

}

.slider .list .item .type {
    color: #14ff72cb;
    border-width: 0cap;
    border-style: dotted;
    border-color: #022912;
}

.slider .list .item .button {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}

.slider .list .item .content .button a {
    color: #013d03;
}

.slider .list .item .button button {
    border: 3px inset;
    border-color: #022912;
    background-color: #e2f6db;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s;
    letter-spacing: 2px;
}


.slider .list .item .button button:hover {
    letter-spacing: 3px;
}

.slider .list .item .button button:nth-child(2) {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #088178;
}

/* Thumbnail Section  */
.thumbnail {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}


/* nextPrevArrows Section  */
.nextPrevArrows {
    position: absolute;
    top: 80%;
    left: 40%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.nextPrevArrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #14ff72cb;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}

.nextPrevArrows button:hover {
    background-color: #fff;
    color: #000;
}

/* Animation Part */
.slider .list .item:nth-child(1) {
    z-index: 1;
}


/* animation text in first item */
.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .button {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 both;
}

@keyframes showContent {
    to {
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.slider .list .item:nth-child(1) .content .title {
    animation-delay: 0.2s !important;
}

.slider .list .item:nth-child(1) .content .type {
    animation-delay: 0.3s !important;
}

.slider .list .item:nth-child(1) .content .description {
    animation-delay: 0.4s !important;
}

.slider .list .item:nth-child(1) .content .button {
    animation-delay: 0.5s !important;
}




/* Animation for next button click */
.slider.next .list .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}

@keyframes showImage {
    to {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.slider.next .thumbnail .item:nth-last-child(1) {
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}

.slider.prev .list .item img {
    z-index: 100;
}


@keyframes showThumbnail {
    from {
        width: 0;
        opacity: 0;
    }
}


.slider.next .thumbnail {
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext {
    from {
        transform: translateX(150px);
    }
}



/* Animation for prev button click */
.slider.prev .list .item:nth-child(2) {
    z-index: 2;
}

.slider.prev .list .item:nth-child(2) img {
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}

@keyframes outFrame {
    to {
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.slider.prev .thumbnail .item:nth-child(1) {
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}

.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button {
    pointer-events: none;
}


.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons {
    animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

@media screen and (max-width: 678px) {
    .slider .list .item .content {
        padding-right: 0;
    }

    .slider .list .item .content .title {
        font-size: 50px;
    }
}

/* slider ends */




/* Feature */
#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    padding: 10px 50px;
}

#feature:hover {
    box-shadow: 0px 0px 30px 0px #20975fd8 inset;
    transition: 0.5s ease;
}

#feature .fs img {
    max-width: 80%;
}


/* feature over */




/* cart page start*/


.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.cart-header {
    font-weight: bolder;
    font-size: 2.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 65%;
}

.cart-price {
    width: 40%;
    color: #333;
}

.cart-quantity {
    width: 25%;
}
.total {
    width: 15%;
}


.cart-item-title {
    color: #333;
    margin-left: 2.2em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: #2c812fb4;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #044108;
}

  
/* cart page end */

/* buy page begin */

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
  }
  
  .containerr{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
    min-height: 100vh;
    background: linear-gradient(90deg, #cafac4 50.1%, #00490fbf 50%);
  }
  
  .containerr form{
    padding:20px;
    width:700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
  }
  
  .containerr form .row{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
  }
  
  .containerr form .row .col{
    flex:1 1 250px;
  }
  
  .containerr form .row .col .title{
    font-size: 20px;
    color:#333;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
  
  .containerr form .row .col .inputBox{
    margin:15px 0;
  }
  
  .containerr form .row .col .inputBox span{
    margin-bottom: 10px;
    display: block;
  }
  
  .containerr form .row .col .inputBox input{
    width: 100%;
    border:1px solid #ccc;
    padding:10px 15px;
    font-size: 15px;
    text-transform: none;
  }
  
  .containerr form .row .col .inputBox input:focus{
    border:1px solid #000;
  }
  
  .containerr form .row .col .flex{
    display: flex;
    gap:15px;
  }
  
  .containerr form .row .col .flex .inputBox{
    margin-top: 5px;
  }
  
  .containerr form .row .col .inputBox img{
    height: 31px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
  }
  
  .containerr form .submit-btn{
    width: 100%;
    padding:12px;
    font-size: 17px;
    background: #27ae60;
    color:#fff;
    margin-top: 5px;
    cursor: pointer;
  }
  
  .containerr form .submit-btn:hover{
    background: #2ecc71;
  }

/* buy ends */



/* fps */

#fps {
    text-align: center;
    background-image: url(banner/news.png);
    margin-right: 1px;
}

#fps .trending {
    display: flex;
    justify-content: space-between;
    padding: 2px 5px;
    flex-wrap: wrap;
}

#fps .trend {
    width: 20%;
    min-width: 170px;
    padding: 10px 12px;
    border: 2px solid #046335a8;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 20px;
    transition: 0.2s ease;
    position: relative;
    background-color: #c3fbba82;
    text-decoration: none;

}

#fps .trend:hover {
    box-shadow: 20px 20px 30px #002806;
    transition: 0.6s ease;
}

#fps .trend img {
    width: 100%;
    border-radius: 20px;
}

#fps .trend .des {
    text-align: start;
    padding: 10px 0;
}

#fps .trend .des del {
    color: #465b52;
    font-size: 12px;
}

#fps .trend .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#fps .trend .des i {
    font-size: 12px;
    color: rgb(243, 181, 25)
}

#fps .trend .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
    text-decoration: none;
}

#fps .trend .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e2f6db;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#fps .trend .cart:hover {
    color: #12a921;
    background-color: #0d2903d2;
}

/* fps over */


/* banner begins */


#banner {
    width: 60%;
    height: 100vh;
    margin-bottom: -50px;
}

#banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("banner/1.jpg");
    min-width: 50px;
    min-height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin: 15px;
    position: relative;
    border: 1px solid #001c02;
}

#banner .banner-box2 {
    background-image: url("banner/5.webp");

}

#banner .banner-box3 {
    background-image: url("banner/4.jpg");
    position: absolute;
    right: 10px;
    min-width: 38vw;
    min-height: 82.8vh;
    margin-right: 20px;
}

#banner .banner-box h2 {
    color: #004607;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top: 35px;
    left: 30px;
}

#banner .banner-box h4 {
    font-family: 'Times New Roman', Times, serif;
    color: #16300c;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    top: 15px;
    left: 30px;
}

#banner .banner-box2 h2 {
    color: #f0ff6be3;
    text-shadow: 3px 3px #001c02;
    font-size: 35px;
    font-weight: 800;
    position: absolute;
    top: 55px;
    left: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#banner .banner-box2 h4 {
    color: #16300c;
    font-size: 20px;
    font-weight: 300;
}

#banner .banner-box3 h2 {
    color: #004607;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 30px;
}

#banner .banner-box3 h4 {
    color: #16300c;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    top: 10px;
    left: 30px;
}

#banner .banner-box .bannerbutton {
    font-size: 12px;
    font-weight: 600;
    padding: 11px 18px;
    color: #02320c;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #255b2a;
    border-radius: 20px;
    border-style: outset;
    outline: none;
    transition: 0.2s;
    text-decoration: none;
}

#banner .banner-box .bannerbutton a {
    color: #02320c;
}

#banner .banner-box .bannerbutton1 {
    position: absolute;
    top: 79px;
    left: 27px;
    text-decoration: none;
}

#banner .banner-box .bannerbutton2 {
    position: absolute;
    top: 106px;
    left: 27px;
    color: #ffffff;
    border: 1px solid #5ab963;
}

#banner .banner-box .bannerbutton3 {
    position: absolute;
    top: 113px;
    left: 27px;
}

#banner .banner-box:hover button {
    background-color: #19f11160;
    border: 1px solid #088178;
    transition: 0.2s;
}

/* banner ends */


/* newsletter */


#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(banner/news.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #02320c;
    padding: 40px 80px;
    margin-top: -10px;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter .form {
    display: flex;
    width: 40%;
    height: 2.125rem;
}

#newsletter input {
    padding: 0 1.25em;
    font-size: 10px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}


#newsletter .form .normal {
    font-size: 10px;
    font-weight: 600;
    padding: 0 1.25em;
    color: #ffffff;
    background-color: #088178;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    white-space: nowrap;
}

/* footer */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 40px;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;

}

footer .Follow {
    margin-right: 40px;
}

footer .Follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .Follow i:hover,
footer a:hover {
    color: #088147;
}

footer .copyright {
    width: 100%;
    text-align: center;
}


/* single products */
#fpsdetails {
    display: flex;
    margin: 10px 20px;

}

#fpsdetails .singlefpsimg img {
    min-width: 300px;
}

#fpsdetails .singlefpsdetails {
    min-width: 100%;
    padding-top: 10px;
    margin: 10px 20px;
}

#fpsdetails .zoom:hover {
    transform: scale(1.1);
    transition: 0.4s ease;
}

#fpsdetails .singlefpsdetails del {
    font-size: 12px;
}


#fpsdetails .singlefpsdetails h4,
#fpsdetails .singlefpsdetails h3,
#fpsdetails .singlefpsdetails .star,
#fpsdetails .singlefpsdetails h6,
#fpsdetails .singlefpsdetails del {
    padding: 10px 10px;
}

#fpsdetails .singlefpsdetails h3 {
    font-size: 20px;
    color: #056135;
}

#fpsdetails .singlefpsdetails select {
    margin-left: 10px;
    margin-bottom: 5px;
    transition: 0.6s ease;
}

#fpsdetails .singlefpsdetails .cart {
    color: #013d03;
    margin: 0 25px;
}

#fpsdetails .singlefpsdetails .cart:hover {
    color: #01820e;
}

#fpsdetails .singlefpsdetails .star {
    color: rgba(248, 255, 36, 0.993);
    font-size: small;
}

#fpsdetails .singlefpsdetails button {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin: 5px 10px;
    text-decoration: none;
    border: 1px solid rgb(4, 56, 4);
}

#fpsdetails .singlefpsdetails button a {
    flex: 1 1 5rem;
    padding: 5px;
    font-size: 1.4rem;
    color: #022806;
    text-decoration: none;
}

#fpsdetails .singlefpsdetails button a:hover {
    background: #0446148d;
    color: #001c01;
    transition: 0.4s ease;
    text-decoration: none;
}

/* sproducts ends */


/* shop */


#feature2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2); */
    padding: 8px 40px;
    transition: 0.9s ease;
}

#feature2:hover {
    box-shadow: 0px 0px 20px 0px #20975fd8 inset;
}



/* shop products */


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    transition: all .2s linear;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    
}

html {
    font-size: 60.5%;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 5px auto;
    padding: 3rem 3rem;
}


.container .title {
    font-size: 3.5rem;
    color: #001e09;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
}

.container p {
    text-transform: uppercase;
    text-align: center;
}

.container .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    column-gap: 30px;
    row-gap: 40px;
}

.container .products-container .product {
    text-align: center;
    padding: 3rem 1rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    outline: .1rem solid #0b3500;
    outline-offset: -1.5rem;
    cursor: pointer;
    position: relative;
}

.container .products-container .emer {
    position: relative;
    text-align: center;
}

.container .products-container .product:hover {
    outline: .2rem solid #013d03;
    outline-offset: 0;
    transition: 0.4s ease;
}

.container .products-container .product img {
    height: 16rem;
    border: 1px solid rgb(111, 176, 111);
}

.container .products-container .product:hover img {
    transform: scale(1);
}

.container .products-container .product .des {
    text-align: left;
    margin-left: 15px;
}

.container .products-container .product h5,
.container .products-container .product h4,
.container .products-container .product h3,
.container .products-container .product .star {
    padding: 3px 0;
}

.container .products-container .product .star {
    color: #fdea19;
    font-size: small;
}

.container .products-container .product h5 {
    text-decoration: line-through;
    font-size: xx-small;
    color: #0b511d;
}

.container .products-container .product h3 {
    font-size: 12px;
    color: #082408;
}

.container .products-container .product:hover h3 {
    color: #0b511d;
}

.container .products-container .product h4 {
    font-size: 16px;
    color: #021502;
}

.container .products-container .product .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e2f6db;
    font-weight: 400;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 30px;
    right: 27px;

}

.container .products-container .product .cart:hover {
    color: #014b05;
    background-color: #5acd29c0;
}

.container .products-container .product .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e2f6db;
    font-weight: 400;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 30px;
    right: 27px;

}

.container .products-container .product .cart:hover {
    color: #014b05;
    background-color: #5acd29c0;
}


.container .products-container .emer .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    background-color: #e2f6db;
    font-weight: 400;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 30px;
    right: 29px;

}

.container .products-container .emer .cart:hover {
    color: #014b05;
    background-color: #5acd29c0;
}



/* shop prod preview */

.products-preview {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    display: none;
    align-items: center;
    justify-content: center;
}

.products-preview .preview {
    display: none;
    padding: 2rem;
    text-align: center;
    background: #bae0b4;
    position: relative;
    margin: 2rem;
    margin-top: 70px;
    width: 30rem;
}


.products-preview .preview.active {
    display: inline-block;
}

.products-preview .preview img {
    height: 20rem;
}

.products-preview .preview .fa-times {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    color: #0d3b0b;
    font-size: 2rem;
}

.products-preview .preview .fa-times:hover {
    transform: rotate(90deg);
}

.products-preview .preview h3 {
    color: #444;
    padding: 1px 0;
    font-size: 1.5rem;
}

.products-preview .preview .stars {
    padding: 1px 0;
    font-size: 1rem;
}

.products-preview .preview .stars i {
    color: #f1f50d;
}

.products-preview .preview .stars span {
    color: #999;
}

.products-preview .preview p {
    padding: 1px 0;
    font-size: 1.1rem;
    color: #777;
    margin: 3px;
}

.products-preview .preview .price {
    padding: 1px 0;
    font-size: 1.5rem;
    color: #0c3d21;
    text-align: center;
    justify-content: space-between;
}

.products-preview .preview .cart {
    padding: 5px 15px;
}

.products-preview .preview .buttons {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 1px;
}

.products-preview .preview .buttons a {
    flex: 1 1 5rem;
    padding: 5px;
    font-size: 1.1rem;
    color: #444;
    border: .1rem solid #444;
}

.products-preview .preview .buttons a.buy:hover {
    background: #444;
    color: #fff;
}

.products-preview .preview .price .cart {
    color: #4c902d;
}

.products-preview .preview .price .cart:hover {
    color: #072708;
}

#upArrow {
    font-size: 30px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #0229009c;
    color: white;
    border: 2px solid green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }

  #upArrow:hover {
    background-color: #bbf1b1;
    color: rgb(1, 39, 3);
  }

  #upArrow.visible {
    opacity: 1;
    visibility: visible;
  }

/* shop pg ends */



/* blog page */


.blog-header {
    background-image: url(blog/b1.jpg);
    width: 100%;
    height: 35vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#blog {
    padding: 50px 150px 0 100px;
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px 0;
}

#blog .blog-img {
    width: 75%;
    margin-right: 40px;
}

#blog img {
    width: 300px;
    height: 330px;
    object-fit: cover;
}

#blog .blog-box .blog-details p {
    color: #022912;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* blog ends */

/* about page */


.about-header {
    background-image: url(images/about.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#about-head {
    display: flex;
    align-items: center;
}

#about-head img {
    width: 40%;
    height: auto;
}

#about-head div {
    padding-left: 40px;
    padding-right: 20px;
}
/* about done */

/* contact */


#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%;
    margin-left: 100px;
}

#contact-details .details span {
    font-size: 12px;
}

#contact-details .details h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 14px;
}

#contact-details .map {
    width: 45%;
    height: 300px;
    margin-right: 100px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

/* contact khatam */



/* login */

.container2{
    min-height: 100vh;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 80px;
 }
 
 .container2 .content{
    width: 700px;
 }
 
 .container2 .content h3{
    text-transform: uppercase;
    font-size: 5vw;
 }
 
 .container2 .content p{
    font-size: 20px;
    padding:10px 0;
 }
 
 .container2 .content p span{
    color:crimson;
 }
 
 .container2 .content .logout{
    display: inline-block;
    padding:10px 35px;
    font-size: 20px;
    margin-top: 10px;
    background-color: #000;
    color:#fff;
 }
 
 .container2 .content .logout:hover{
    background-color: crimson;
 }
 
 .form-container{
    min-height: 100vh;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 80px;
 }
 
 .form-container form{
    width: 500px;
    background-color: #fff;
    border:2px solid #000;
    padding:20px;
    text-align: center;
 }
 
 .form-container form .title{
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 10px;
 }
 
 
 .form-container form .box{
    width: 100%;
    padding:12px 14px;
    font-size: 20px;
    text-transform: none;
    border:2px solid #000;
    margin:10px 0;
 }
 
 .form-container form .form-btn{
    display: block;
    width: 100%;
    font-size: 20px;
    padding:10px;
    background-color: #000;
    color:#fff;
    cursor: pointer;
    margin:10px 0;
 }
 
 .form-container form .form-btn:hover{
    background-color: crimson;
 }
 
 .form-container form p{
    font-size: 20px;
    margin-top: 20px;
 }
 
 .form-container form p a{
     color:crimson;
 }
 
 .form-container form .error-msg{
    display: block;
    width: 100%;
    padding:10px 0;
    margin:10px 0;
    background-color: crimson;
    font-size: 20px;
    color:#fff;
 }




/* logout */













/* Media Query */
@media(max-width:799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;

        z-index: 300;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    .main-cart{
        position: relative;
    }

    #mobile .main-cart span{
        font-size: 12px;
    display:flex;
    width: 20px;
    height: 20px;
    background-color: rgb(1, 103, 11);
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -14px;
    }
    


    #lg-bag {
        display: none;
    }

    .slider {
        display: flex;
        flex-wrap: wrap;
        height: 66vh;
        width: 100.4vw;
        z-index: 0;
    }

    .slider .list .item .content {
        font-size: 28px;
    }

    .slider .list .item .content .title,
    .slider .list .item .content .type {
        font-size: 7rem;
    }

    .nextPrevArrows {
        position: relative;
        top: 80%;
        left: 39%;
        z-index: 100;
        width: 300px;
        max-width: 30%;
        display: initial;
        gap: 10px;
    }

    #feature .fsoffer {
        display: none;
    }

    #fps .trending {
        justify-content: center;
    }

    #fps .trend {
        margin: 15px;
    }

    #fps .tabhide {
        display: none;
    }

    #banner .banner-box {
        min-width: 95vw;
        min-height: 30vh;
        margin: 40px 10px;
        position: relative;
    }

    #banner .banner-box3 {
        margin-left: 20px;
    }

    #banner .banner-box3 h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #021201;
        font-size: 38px;
        font-weight: 800;
        position: absolute;
        top: 110px;
        left: 300px;
    }

    #banner .banner-box .bannerbutton3 {
        position: absolute;
        top: 170px;
        left: 330px;
    }

    #banner .banner-box3 h4 {
        color: #021201;
        font-weight: 800;
        position: absolute;
        top: 20px;
        left: 300px;
    }

    footer .Follow {
        margin-top: -100px;
        margin-right: 40px;
    }

    .container .products-container .product img {
        height: 20rem;
        border: 1px solid rgb(111, 176, 111);
    }

    .products-preview .preview img {
        height: 20rem;
    }


    #blog {
        padding: 50px 50px 0 50px;
    }

    .about-header {
        height: 30vh;
    }

    #newsletter {
        margin-top: 70px;
    }

    
    .containerr {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px;
        min-height: 60vh;
        background: linear-gradient(90deg, #cafac4 50.1%, #00490fbf 50%);
    }


}


/* phone */



@media(max-width:477px) {
    #header {
        padding: 3px 30px;
    }

    .main-cart{
        position: relative;
    }

    #mobile .main-cart span{
        font-size: 12px;
    display:flex;
    width: 20px;
    height: 20px;
    background-color: rgb(1, 103, 11);
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -14px;
    }
    
    


    .slider {
        height: 63vh;
        width: 100.4vw;
    }

    .slider .list .item .content {
        font-size: 12px;
    }

    .slider .list .item .content .title,
    .slider .list .item .content .type {
        font-size: 4rem;
    }

    #feature .fsoffer {
        display: none;
    }

    #fps {
        margin-right: 12px
    }

    #fps .trend {
        min-width: 300px;
        margin-right: 4px;
    }

    #banner .banner-box {
        min-width: 90vw;
        margin: 40px 10px;
        position: relative;
    }

    #banner .banner-box3 {
        min-width: 90vw;
        margin: 40px 20px;
        position: relative;
    }

    #banner .banner-box3 h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #021201;
        font-size: 38px;
        font-weight: 800;
        position: absolute;
        top: 10px;
        left: 100px;
    }

    #banner .banner-box .bannerbutton3 {
        position: absolute;
        top: 150px;
        left: 120px;
    }

    #banner .banner-box3 h4 {
        color: #021201;
        font-weight: 800;
        position: absolute;
        top: 60px;
        left: 100px;
    }

    #banner .banner-box1 h2 {
        position: absolute;
        top: 60px;
    }

    #banner .banner-box1 .bannerbutton1 {
        position: absolute;
        top: 110px;
        left: 30px;
    }

    #newsletter .form {
        width: 100%;
    }

    footer .Follow {
        margin-top: -1px;
        margin-right: 40px;
    }

    footer .logo {
        margin-top: -60px;
        margin-right: 40px;
    }

    #feature2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 5px 90px;
        transition: 0.9s ease;
    }

    .container .title {
        font-size: 2.5rem;
        color: #001e09;
        margin-bottom: 3rem;
        text-transform: uppercase;
        text-align: center;
    }

    .container .products-container .product img {
        height: 28rem;
    }

    #blog {
        padding: 20px 35px 0 32px;
    }

    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog img {
        width: 300px;
        height: 330px;
        object-fit: cover;
        padding: 0 0 15px 0;
    }

    #about-head {
        flex-direction: column;
    }

    #about-head img {
        width: 95%;
        margin-bottom: 20px;
    }

    /* contact */
    #contact-details {
        flex-direction: column;
    }

    #contact-details .details {
        width: 100%;
        margin-bottom: 10px;
    }

    #contact-details .map {
        width: 100%;
        margin-left: 100px;
    }

    #fpsdetails .singlefpsdetails {
        margin-top: 350px;
        margin-left: -300px;
    }
    
    #newsletter {
        margin-top: 90px;
    }
}






